.DS_Store
desktop.ini
esf.sublime-project
esf.sublime-workspace

files/*
assets/release/*

node_modules
bower_components
npm-debug.log
manifest.json
eslint_log.txt
yarn.lock
.idea

dist/*
build/*
package-lock.json
backendJson
version.json
